extends layout

block content
  .atf-wrap
    .container.d-flex.flex-column.justify-content-center.align-items-center.h-100.text-white.wrapper 
      h1= title
      h3.pt-5 Welcome to our store
      .body-txt.pt-5 
        h4.pt-5 We are established since 2010 and have a loyal customer base of over 200000
      .button-wrap.d-flex.justify-content-center.align-items-center
        a.phone-list.d-flex.justify-content-center.align-items-center(href='/list-display') Checkout Latest Collection 
        a.about-us.d-flex.justify-content-center.align-items-center(href='/about') About us
