extends layout 

block content 
    .atf-wrap
        .container.d-flex.flex-column.justify-content-center.align-items-center.h-100.text-white.wrapper 
            h1= title
            h3.pt-5 Come, say Hello!
            .about-txt.mt-5.d-flex.justify-content-center.align-items-center
                img(src='/images/map.jpg', alt='map')
                .address-wrap 
                    p 123, Park Avenue,
                    p Waterloo, Ontatio 
                    p Canada
                    p Tel: 0123456789 