<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse">
	<div class="container">
		<a class="navbar-brand" href="/ "><img class="logo-img" src="assets/images/home.png" alt="Home"></a>
		<div class="navbar-collapse collapse" id="navbarMain">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link h6" routerLink="/phonelist">Latest Phones</a></li>
				<li class="nav-item"><a class="nav-link h6" routerLink="/about">About Us</a></li>
			</ul>
		</div>
	</div>
</nav>