extends layout

block content
  h1= title
  p.tl Here is #{title}
  .pt-4.w-50
    ul.pl-0
      li.list-unstyled.border-warning
      .card 
        .card-block
          img(src="/images/pizza.png", alt="pizza").w-100
          p.font-weight-bold.h2.text-center.txt-blck Pizza
