<app-header></app-header>
<div class="atf-wrap">
	<div class="container d-flex flex-column justify-content-center align-items-center h-100 text-white wrapper">
		<h1>The Phone Zone</h1>
		<h3 class="pt-5">Welcome to our store</h3>
		<div class="body-txt pt-5">
			<h4 class="pt-5">We are established since 2010 and have a loyal customer base of over 200000</h4></div>
		<div class="button-wrap d-flex justify-content-center align-items-center">
			<a class="phone-list d-flex justify-content-center align-items-center" routerLink="/phonelist">Checkout Latest Collection </a>
			<a class="about-us d-flex justify-content-center align-items-center" routerLink="/about">About us</a>
		</div>
	</div>
</div>