extends layout

block content
    h1= title
    .container.pt-4
        .row 
            .col-12.col-md-8.ml-auto.mr-auto
                - let foodName = "";
                - let foodDesc = "";
                - let foodImg = "";
                - let foodCals = "";
                - let foodPrice = "";
                - let btnTxt = "Add Food Item";
                - if(!!currentFood){
                    - foodName = currentFood.foodItem;
                    - foodDesc = currentFood.description;
                    - foodImg = currentFood.img;
                    - foodCals = currentFood.calories;
                    - foodPrice = currentFood.price;
                    - btnTxt = "Edit Food Item";
                - }
                form(method="post", role="form" action= "")
                    .form-group.row 
                        label.col-10.col-sm-2.col-form-label(for="foodItem") Name 
                        .col-12.col-sm-10 
                            input#foodItem.form-control(name="foodItem", value= foodName)
                    .form-group.row 
                        label.col-10.col-sm-2.col-form-label(for="description") Description 
                        .col-12.col-sm-10 
                            input#description.form-control(name="description", value= foodDesc)
                    .form-group.row 
                        label.col-10.col-sm-2.col-form-label(for="img") Image 
                        .col-12.col-sm-10 
                            input#img.form-control(name="img", value= foodImg)
                    .form-group.row 
                        label.col-10.col-sm-2.col-form-label(for="calories") Calories 
                        .col-12.col-sm-10 
                            input#calories.form-control(name="calories", value= foodCals)
                    .form-group.row 
                        label.col-10.col-sm-2.col-form-label(for="price") Price 
                        .col-12.col-sm-10 
                            input#price.form-control(name="price", value= foodPrice)
                    button.btn.btn-primary.add-food-btn.d-flex.justify-content-center.align-items-center= btnTxt